.chat {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  .chat__title {
    padding: 1rem;
    h4 {
      font-size: 3rem;
    }
  }

  .chat__body {
    overflow-x: hidden;
    overflow-y: auto;
  }

  .chat__list {
  }

  .chat__list-item {
    display: flex;
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  .chat__item-logo {
    width: 3rem;

  }

  .chat__item-body {
    flex: 1 1 100%;
  }

  .chat__item-title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .chat__item-text {
    color: $light-green;
  }

}