.header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;

  width: 100%;
  min-height: 5rem;

  background-color: $dark-bg;
  border-bottom: .1rem solid $light-bg;
  @media (max-width: convertPx-em(768)) {
    &:before {
      content: "";
      position: absolute;
      z-index: 3;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      background-color: $dark-bg;
      border-bottom: .1rem solid $light-bg;
    }
  }

  .header__container {
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
  .header-body {
    position: relative;
    display: flex;
    align-items: center;

    &>*:not(:last-child) {
      margin-right: 1rem;
    }

    .header-body__title {
      display: flex;
      align-items: center;
      z-index: 3;
    }

    .header-body__logo {
      position: relative;
      width: 4rem;
      height: 4rem;

      border-radius: 50%;
      overflow: hidden;

      &:not(:last-child) {
        margin-right: 1rem;
      }
    }

    .header-body__text {
      span {
        font-size: 2.4rem;
        @media (max-width: convertPx-em(768)) {
          font-size: 2rem;
        }
      }
    }

    .header__burger {
      cursor: pointer;
      display: none;
      position: relative;
      z-index: 3;

      width: 3rem;
      height: 2rem;

      justify-self: end;
      margin-left: auto;
      margin-right: 0;

      transition: all 0.3s ease 0s;
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;

      &:before, &:after {
        content: "";
        position: absolute;
        left: 0;

        width: 100%;
        height: .3rem;

        border-radius: .3rem;
        background-color: $light-green;
      }

      &:before {
        top: 0;

      }

      &:after {
        bottom: 0;
      }

      span {
        position: absolute;
        top: 50%;
        left: 0;

        width: 100%;
        height: .3rem;

        border-radius: .3rem;
        background-color: $light-green;
        transform: translate(0, -50%);
      }

      @media (max-width: convertPx-em(768)) {
        display: flex;
        &.active {
          &:before {

          }
          &:active {

          }
        }
      }
    }

    .header-body__nav {
      display: flex;
      align-items: center;
      flex: 1 1 auto;
      &>*:not(:last-child) {
        margin: 0 1rem 0 0;
      }
      @media (max-width: convertPx-em(768)) {
        flex-direction: column;
        align-items: start;
        position: fixed;
        z-index: 2;
        top: -100%;
        left: 0;
        overflow: auto;

        width: 100%;
        height: 100%;

        background-color: $light-green;

        padding: 3rem 3rem 8rem 3rem;

        transition: all 0.3s ease 0s;
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;

        &>*:not(:last-child) {
          margin: 0 0 1rem 0;
        }
        &.active {
          top: 0;
        }
      }
    }

    .header-body__nav-list {
      display: flex;
      flex-wrap: wrap;
        li {
          display: flex;
          font-size: 1.7rem;
          font-weight: 600;

          &:not(:last-child) {
            margin-right: .5rem;
          }

          a {
            display: flex;
            align-items: center;
          }
        }
      @media (max-width: convertPx-em(768)) {
        flex-direction: column;
        li {
          &:not(:last-child) {
            margin: 0 0 1rem 0;
          }

          a {
            color: $dark-bg;
            &:hover {
              color: $dark-orange;
            }
          }
        }
      }
    }

    .header-body__nav-exit {
      justify-self: end;
      margin-left: auto;
      font-weight: 700;
      font-size: 2rem;
      @media (max-width: convertPx-em(768)) {
        margin-left: 0;
        margin-top: auto;
        a {
          color: $dark-bg;
          &:hover {
            color: $dark-orange;
          }
        }
      }
    }
  }
}